
@{
    ViewBag.Title = "Steam Lookup";
}

<div class="row">
    <h2>Steam Lookup</h2>
</div>

<div class="row">
    <form role="form">
        <div class="form-group">
            <label for="steamUserName">Steam User Name</label>
            <input type="text" class="form-control" id="steamUserName" placeholder="Steam User Name">
        </div>
    </form>
</div>

<div id="results" class="row">

</div>